/* 
	Hoja de estilos para ejercicio/proyecto: XXXXXX
	
	Secciones: 
	$1: Estilos base
	$2: Estilos tipográficos
	$3: XXXX

*/

/* $1: Estilos base */

* { box-sizing: border-box; }


/* $2: Estilos tipográficos */

img {
    max-width: 100%;
}

body {
margin-top: 10px;
margin-left: 10px;
background-image:
}

h1 {
	font-size: 30px;
	margin-bottom: 15px;
}

p {
	margin-bottom: 15px;
}

.imagenesins {
    width: 200px;
    height: 200px;
}

.followus {
    background-color: dimgrey;
    font-family: sans-serif;
    color: white;
}

/* $3: XXXX */